<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/base :: head(~{::title}, ~{::link}, ~{})}">
    <title th:text="${title}">OTP Service</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body th:fragment="body(content, scripts)">
    <!-- Включаем хедер -->
    <div th:replace="~{fragments/header :: header}"></div>
    
    <!-- Основное содержимое страницы -->
    <main>
        <div th:replace="${content}"></div>
    </main>
    
    <!-- Скрипты -->
    <th:block th:replace="${scripts}"></th:block>
</body>
</html> 